<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/login">Login</a></li>
    <li class="breadcrumb-item"><a href="/register">Register</a></li>
  </ol>
</nav>
<h1>Welcome, {{user.email}}</h1>
<p>You joined on {{user.dateJoined}}</p>
<form action="/logout" method="POST">
    <button type="submit">Logout</button>
</form>
</body>
</html>