body, html {
    height: 100%; /* Ensure the body and html elements take up the full height of the viewport */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    font-family: "Raleway", sans-serif; /* Apply font-family */
    background-image: url('cyberPigeon.JPG'); /* Specify background image */
    background-position: left; /* Place left the background image horizontally and vertically */
    background-size: contain; /* Cover the entire viewport with the background image */
  }
  
